*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
:root{
    --primary-color: #fcf5e9;
    --dark-color: #333;
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
img{
    max-width: 10%;
}
.bg-primary{
    background: var(--primary-color);
    color: #333;
}
.bg-dark{
    background: var(--dark-color);
    color: #fff;
}
.container{
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}
.container-lg{
    max-width: 1400px;
}
.header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin: 1.5rem auto;
}
.header .main-menu
{
    display: flex;
    gap: 1rem;
    a{
        padding: 0.5rem 1rem;;
    }
}
 
.header .main-menu a:hover{
    background: var(--primary-color);
}
.hero{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h2{
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: normal;
}
.gallery-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery-item{
    width: calc(33.333% - 20px);
}
.gallery-item:hover{
    opacity: 0.9;
}
.footer{
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2 rem;
}
.footer .footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer h4{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.footer a{
    margin: 0.2rem;
}
/* Services */
.services{
    background: #333;
    color:#fff;
    padding: 3rem 0 4rem;
}
.services-flex{
    display: flex;
    gap:2rem;
}
.service-item h4{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.section-heading{
    font-size: 1.6rem;
    text-align: center;
}
.team{
    padding: 3rem 0 4rem;
}
.team-flex{
    display: flex;
    gap: 1.4rem;
}
@media (max-width: 768px) {
    .header .header-flex,
    .footer .footer-flex,
    .services,.services-flex,
    .team, .team-flex{
        flex-direction: column;
        gap: 1.5rem;
    }
}