*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
:root{
    --primary-color: #fcf5e9;
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
img{
    max-width: 10%;
}
.bg-primary{
    background: var(--primary-color);
}
.container{
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}
.container-lg{
    max-width: 1400px;
}
.header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin: 1.5rem auto;
}
.header .main-menu
{
    display: flex;
    gap: 1rem;
    a{
        padding: 0.5rem 1rem;;
    }
}
 
.header .main-menu a:hover{
    background: var(--primary-color);
}
.hero{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h2{
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: normal;
}
@media (max-width: 768px) {
    .header .header-flex {
        flex-direction: column;
        gap: 1.5rem;
    }
}