*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial';
}

@media screen and (max-width: 1200px){
    .widescreen {
        background: coral;
    }
}

@media (max-width:992px){
    .normal{
        background: lightblue;
    }
}
