*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial';
    font-size: 18px;
    line-height: 1.6;
}

.box{
    background-color: darkblue;
    color: white;
    border: 3px solid green;
}
.box{
    background: coral;
    max-width: 400px;
}
