*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: coral;
}

p{
    margin: 10px 0;
}
.main-menu{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
.main-menu a{
    font-size: 20px;
}
.main{
    display: flex;
}
.main aside h3{
    padding: 10px;
    background-color: coral;
    color: white;
}

.main aside li{
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}